VITE_SUPABASE_URL=https://uzpjsdhmjpruxmwmcogw.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_L3mfN8Ae7JAu8gafCQ5_9A_QOe_keac
SUPABASE_SERVICE_ROLE_KEY=
STRIPE_SECRET_KEY=
CINETPAY_SITE_ID=
CINETPAY_API_KEY=
CINETPAY_NOTIFY_URL=
GEMINI_API_KEY=
